**College Football Machine Learning 2008-2013**

In [1]:
# Import Dependencies
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
# Read CSV
df = pd.read_csv('/Users/benpeyton/Desktop/vandy_boot_camp/Module_20/20-Final_Project/goldcopyhalfstats.csv')
df.head()

,year,game_code,a_team_name,a_name_conference,a_team_code,a_result,a_points,b_team_code,team_name,name_conference,...,half_diff_score_abs,visit_date,stadium_code,stadium_name,site,city,state,capacity,surface,year_opened
0,2008,5068820080906,Syracuse ...,Atlantic Coast Conference ...,688,0,14,5,Akron ...,Mid-American Conference ...,...,14,9/6/2008,92,Carrier Dome ...,TEAM,Syracuse ...,NY,49250,FieldTurf,1980
1,2008,8014720080830,Clemson ...,Atlantic Coast Conference ...,147,0,3,8,Alabama ...,Southeastern Conference ...,...,17,8/30/2008,38,Georgia Dome ...,NEUTRAL,Atlanta ...,GA,71250,FieldTurf,1992
2,2010,8019320100918,Duke ...,Atlantic Coast Conference ...,193,0,13,8,Alabama ...,Southeastern Conference ...,...,29,9/18/2010,80,Wallace Wade Stadium ...,TEAM,Durham ...,NC,33941,Grass,1929
3,2011,27074220110903,Virginia Tech ...,Atlantic Coast Conference ...,742,1,38,27,Appalachian State ...,Southern ...,...,38,9/3/2011,136,Lane Stadium ...,TEAM,Blacksburg ...,VA,66233,Grass,1965
4,2011,37014720110917,Clemson ...,Atlantic Coast Conference ...,147,1,21,37,Auburn ...,Southeastern Conference ...,...,0,9/17/2011,112,Memorial Stadium ...,TEAM,Clemson ...,SC,86400,Grass,1942

In [4]:
# Create empty team lists
aHome=[]
bHome=[]

# Neutral game string
neutral=str(df.iloc[1]['site'])

for index,row in df.iterrows():
  gameCode=str(row['game_code'])
  aTeam=str(row['a_team_code'])
  bTeam=str(row['b_team_code'])
  site=str(row['site'])

  homeTeam=''
  try:
    i1=gameCode.index(aTeam)
  except ValueError:  # For when a team code isn't in game code
    homeTeam='NOT IN CODE'
  try:
    i2=gameCode.index(bTeam)
  except ValueError:  # For when a team code isn't in game code
    homeTeam='NOT IN CODE'

  if(homeTeam==''):
      if(site==neutral):
        aHome.append(0)  # Neutral Field Game
        bHome.append(0)
      elif (i1>i2):      
        aHome.append(1)  # The aTeam team code was second  
        bHome.append(0)   
      else:
        aHome.append(0)  
        bHome.append(1)  # The aTeam team code was second
  else:
      # One of the teams did not have its team code in the game code
      if(index < 150):
        print(index)
      aHome.append(0)  # Neutral Field Game
      bHome.append(0)

df['a_home']=aHome
df['b_home']=bHome

49
72
75
80
103
105
106
108
117
147
148

In [5]:
df.head()

,year,game_code,a_team_name,a_name_conference,a_team_code,a_result,a_points,b_team_code,team_name,name_conference,...,stadium_code,stadium_name,site,city,state,capacity,surface,year_opened,a_home,b_home
0,2008,5068820080906,Syracuse ...,Atlantic Coast Conference ...,688,0,14,5,Akron ...,Mid-American Conference ...,...,92,Carrier Dome ...,TEAM,Syracuse ...,NY,49250,FieldTurf,1980,1,0
1,2008,8014720080830,Clemson ...,Atlantic Coast Conference ...,147,0,3,8,Alabama ...,Southeastern Conference ...,...,38,Georgia Dome ...,NEUTRAL,Atlanta ...,GA,71250,FieldTurf,1992,0,0
2,2010,8019320100918,Duke ...,Atlantic Coast Conference ...,193,0,13,8,Alabama ...,Southeastern Conference ...,...,80,Wallace Wade Stadium ...,TEAM,Durham ...,NC,33941,Grass,1929,1,0
3,2011,27074220110903,Virginia Tech ...,Atlantic Coast Conference ...,742,1,38,27,Appalachian State ...,Southern ...,...,136,Lane Stadium ...,TEAM,Blacksburg ...,VA,66233,Grass,1965,1,0
4,2011,37014720110917,Clemson ...,Atlantic Coast Conference ...,147,1,21,37,Auburn ...,Southeastern Conference ...,...,112,Memorial Stadium ...,TEAM,Clemson ...,SC,86400,Grass,1942,1,0

In [6]:
# Drop the null columns where all values are null
df2 = df.dropna(axis='columns', how='all').copy()

# Drop the null rows
df2 = df2.dropna()

df2.reset_index(inplace=True, drop=True)

print(len(df2))
df2.head(10)

4789

,year,game_code,a_team_name,a_name_conference,a_team_code,a_result,a_points,b_team_code,team_name,name_conference,...,stadium_code,stadium_name,site,city,state,capacity,surface,year_opened,a_home,b_home
0,2008,5068820080906,Syracuse ...,Atlantic Coast Conference ...,688,0,14,5,Akron ...,Mid-American Conference ...,...,92,Carrier Dome ...,TEAM,Syracuse ...,NY,49250,FieldTurf,1980,1,0
1,2008,8014720080830,Clemson ...,Atlantic Coast Conference ...,147,0,3,8,Alabama ...,Southeastern Conference ...,...,38,Georgia Dome ...,NEUTRAL,Atlanta ...,GA,71250,FieldTurf,1992,0,0
2,2010,8019320100918,Duke ...,Atlantic Coast Conference ...,193,0,13,8,Alabama ...,Southeastern Conference ...,...,80,Wallace Wade Stadium ...,TEAM,Durham ...,NC,33941,Grass,1929,1,0
3,2011,27074220110903,Virginia Tech ...,Atlantic Coast Conference ...,742,1,38,27,Appalachian State ...,Southern ...,...,136,Lane Stadium ...,TEAM,Blacksburg ...,VA,66233,Grass,1965,1,0
4,2011,37014720110917,Clemson ...,Atlantic Coast Conference ...,147,1,21,37,Auburn ...,Southeastern Conference ...,...,112,Memorial Stadium ...,TEAM,Clemson ...,SC,86400,Grass,1942,1,0
5,2013,37023420140106,Florida State ...,Atlantic Coast Conference ...,234,1,10,37,Auburn ...,Southeastern Conference ...,...,15,Rose Bowl ...,NEUTRAL,Pasadena ...,CA,91136,Grass,1922,0,0
6,2012,43074220120908,Virginia Tech ...,Atlantic Coast Conference ...,742,1,21,43,Austin Peay ...,OVC ...,...,136,Lane Stadium ...,TEAM,Blacksburg ...,VA,66233,Grass,1965,1,0
7,2009,51074920090905,Wake Forest ...,Atlantic Coast Conference ...,749,0,7,51,Baylor ...,Big 12 Conference ...,...,83,Groves Stadium ...,TEAM,Winston Salem ...,NC,31500,FieldTurf,1968,1,0
8,2013,61023420130921,Florida State ...,Atlantic Coast Conference ...,234,1,33,61,Bethune-Cookman ...,Mid-Eastern ...,...,33,Doak Campbell Stadium ...,TEAM,Tallahassee ...,FL,80000,Grass,1950,1,0
9,2011,61041520111001,Miami (Florida) ...,Atlantic Coast Conference ...,415,1,14,61,Bethune-Cookman ...,Mid-Eastern ...,...,30,Sun Life Stadium ...,TEAM,Miami ...,FL,75235,Grass,1987,1,0

In [7]:
df3=df2.copy()
df3["result"]=df3['a_result']
df3=df3.drop(['a_result', 'b_result'], axis=1)

df3=df3.drop(['a_defense_rush_yards','b_defense_rush_yards','a_defense_pass_yards','b_defense_pass_yards'],axis=1)

df3.head()

,year,game_code,a_team_name,a_name_conference,a_team_code,a_points,b_team_code,team_name,name_conference,b_points,...,stadium_name,site,city,state,capacity,surface,year_opened,a_home,b_home,result
0,2008,5068820080906,Syracuse ...,Atlantic Coast Conference ...,688,14,5,Akron ...,Mid-American Conference ...,28,...,Carrier Dome ...,TEAM,Syracuse ...,NY,49250,FieldTurf,1980,1,0,0
1,2008,8014720080830,Clemson ...,Atlantic Coast Conference ...,147,3,8,Alabama ...,Southeastern Conference ...,20,...,Georgia Dome ...,NEUTRAL,Atlanta ...,GA,71250,FieldTurf,1992,0,0,0
2,2010,8019320100918,Duke ...,Atlantic Coast Conference ...,193,13,8,Alabama ...,Southeastern Conference ...,42,...,Wallace Wade Stadium ...,TEAM,Durham ...,NC,33941,Grass,1929,1,0,0
3,2011,27074220110903,Virginia Tech ...,Atlantic Coast Conference ...,742,38,27,Appalachian State ...,Southern ...,0,...,Lane Stadium ...,TEAM,Blacksburg ...,VA,66233,Grass,1965,1,0,1
4,2011,37014720110917,Clemson ...,Atlantic Coast Conference ...,147,21,37,Auburn ...,Southeastern Conference ...,21,...,Memorial Stadium ...,TEAM,Clemson ...,SC,86400,Grass,1942,1,0,1

**Filter Data**

In [8]:
df_filter=df3.copy()

# Throw out "blowout" games
blowoutThresh=14
df_filter=df_filter[df_filter['half_diff_score_abs'] <= blowoutThresh]

# reset index
df_filter.reset_index(inplace=True, drop=True)

print(len(df_filter))
df_filter.head(5)

3242

,year,game_code,a_team_name,a_name_conference,a_team_code,a_points,b_team_code,team_name,name_conference,b_points,...,stadium_name,site,city,state,capacity,surface,year_opened,a_home,b_home,result
0,2008,5068820080906,Syracuse ...,Atlantic Coast Conference ...,688,14,5,Akron ...,Mid-American Conference ...,28,...,Carrier Dome ...,TEAM,Syracuse ...,NY,49250,FieldTurf,1980,1,0,0
1,2011,37014720110917,Clemson ...,Atlantic Coast Conference ...,147,21,37,Auburn ...,Southeastern Conference ...,21,...,Memorial Stadium ...,TEAM,Clemson ...,SC,86400,Grass,1942,1,0,1
2,2013,37023420140106,Florida State ...,Atlantic Coast Conference ...,234,10,37,Auburn ...,Southeastern Conference ...,21,...,Rose Bowl ...,NEUTRAL,Pasadena ...,CA,91136,Grass,1922,0,0,1
3,2009,51074920090905,Wake Forest ...,Atlantic Coast Conference ...,749,7,51,Baylor ...,Big 12 Conference ...,10,...,Groves Stadium ...,TEAM,Winston Salem ...,NC,31500,FieldTurf,1968,1,0,0
4,2011,61041520111001,Miami (Florida) ...,Atlantic Coast Conference ...,415,14,61,Bethune-Cookman ...,Mid-Eastern ...,7,...,Sun Life Stadium ...,TEAM,Miami ...,FL,75235,Grass,1987,1,0,1

In [9]:
df_filter.columns

Index(['year', 'game_code', 'a_team_name', 'a_name_conference', 'a_team_code',
       'a_points', 'b_team_code', 'team_name', 'name_conference', 'b_points',
       'half_leader', 'a_rush', 'b_rush', 'a_offense_rush_yards',
       'b_offense_rush_yards', 'a_offense_pass_yards', 'b_offense_pass_yards',
       'a_pass', 'b_pass', 'a_incomplete_pass', 'b_incomplete_pass',
       'a_penalty', 'b_penalty', 'a_penalty_yards', 'b_penalty_yards',
       'half_diff_score', 'half_diff_score_abs', 'visit_date', 'stadium_code',
       'stadium_name', 'site', 'city', 'state', 'capacity', 'surface',
       'year_opened', 'a_home', 'b_home', 'result'],
      dtype='object')

**Split into testing and training data and scale**

In [10]:
# Create our features
X = df_filter.copy()

X=X.drop({'year', 'game_code', 'a_team_name', 'a_name_conference', 'a_team_code',
          'b_team_code', 'team_name', 'name_conference','half_leader',
          'half_diff_score', 'half_diff_score_abs', 'visit_date', 'stadium_code',
          'stadium_name', 'site', 'city', 'state', 'capacity',
          'year_opened', 'result'},axis=1)

# Need to convert columns with strings to numeric
# Get column names that are non-numeric
column_names=X.select_dtypes(exclude=[np.number]).columns
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for columnName in column_names:
  X[columnName]=le.fit_transform(X[columnName])

# Create our target
y = df_filter['result'].copy()

X.head()

,a_points,b_points,a_rush,b_rush,a_offense_rush_yards,b_offense_rush_yards,a_offense_pass_yards,b_offense_pass_yards,a_pass,b_pass,a_incomplete_pass,b_incomplete_pass,a_penalty,b_penalty,a_penalty_yards,b_penalty_yards,surface,a_home,b_home
0,14,28,17,24,84,129,40,154,10,15,3,3,2,0,10,0,3,1,0
1,21,21,16,27,61,157,165,125,24,15,8,7,4,2,35,20,4,1,0
2,10,21,18,29,137,131,62,107,15,13,10,6,2,3,20,15,4,0,0
3,7,10,21,14,68,43,44,107,6,16,1,4,5,2,40,10,3,1,0
4,14,7,9,24,-22,-6,107,89,9,20,2,9,3,6,28,40,4,1,0

In [11]:
# Check the balance of our target values
print(len(X))
abs(X['a_points']-X['b_points']).value_counts()

3242

7     516
3     397
14    375
10    343
0     330
4     319
11    234
1     145
6     138
13    137
8     106
2      59
9      58
5      52
12     33
dtype: int64

**Sampling Methods and Scale**

In [12]:
from sklearn.model_selection import train_test_split

# stratify by point spread
stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.25)

**Models**

In [13]:
# Import Dependencies
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

**Logistic Regression**

In [14]:
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1500,
                                random_state=42)

#result=classifier.fit(X_train_scaled, y_train)
result=classifier.fit(X_train, y_train)

In [15]:
ml_df=pd.DataFrame(columns=X.columns.tolist())

log_coefs=list(zip(X.columns.tolist(),
                   result.coef_.tolist()[0]))
log_coefs.sort(key = lambda x:abs(x[1]),reverse=True)
print(log_coefs)

[('a_home', 0.3059672664781191), ('b_home', -0.28216352295322694), ('b_points', -0.17323612410864866), ('a_points', 0.1598777801970259), ('b_penalty', -0.0816256865143881), ('a_penalty', 0.0656913359836384), ('b_incomplete_pass', 0.04719410680674511), ('a_rush', -0.03221670638179819), ('a_incomplete_pass', 0.024670544490506065), ('b_pass', -0.023766006013242545), ('b_penalty_yards', 0.015352786404152984), ('a_penalty_yards', -0.009974780360210302), ('a_pass', -0.009261171609039496), ('b_rush', -0.003782435186399457), ('a_offense_rush_yards', 0.0036334651636174354), ('a_offense_pass_yards', 0.0028944259667457875), ('surface', 0.0012333210781005541), ('b_offense_rush_yards', -0.0011950185335244533), ('b_offense_pass_yards', -0.00019686487364243104)]

In [16]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
print(classifier.get_params())
results.head(10)

{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 1500, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': 42, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

   Prediction  Actual
0           0       0
1           0       0
2           1       0
3           0       0
4           0       1
5           0       0
6           1       1
7           0       0
8           1       1
9           1       1

In [17]:
logRegAcc=balanced_accuracy_score(y_test, y_pred)
noDroplogRegAcc=logRegAcc
print('balanced accuracy score = ',logRegAcc)

# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual B", "Actual A"], columns=["Predicted B", "Predicted A"])

print("")
print(cm_df)

# Print the imbalanced classification report
print("")
print(classification_report_imbalanced(y_test, y_pred))

balanced accuracy score =  0.7168011783466628

          Predicted B  Predicted A
Actual B          288          106
Actual A          124          293

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.73      0.70      0.71      0.72      0.52       394
          1       0.73      0.70      0.73      0.72      0.72      0.51       417

avg / total       0.72      0.72      0.72      0.72      0.72      0.51       811

**Sensitivity Test**

In [19]:
# We will drop each column and see what the balanced score gives us
X.columns
print('No Drop Balanced Accuracy = ',round(noDroplogRegAcc,2))
for column in X.columns:
  #Creata new Dataframe with dropped column
  Xtest=X.drop(column,axis=1).copy()

  # Gotta train, test, split using same random seed
  # stratify by point spread
  stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
  X_train, X_test, y_train, y_test = train_test_split(Xtest, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.3)

  # ML with logistic Regression
  classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2500,
                                random_state=42)

  #result=classifier.fit(X_train_scaled, y_train)
  result=classifier.fit(X_train, y_train)
  y_pred = classifier.predict(X_test)
  logResAcc=balanced_accuracy_score(y_test, y_pred)

  print('Dropped ',column,', balanced acc. = ',round(logResAcc,2))

No Drop Balanced Accuracy =  0.72
Dropped  a_points , balanced acc. =  0.69
Dropped  b_points , balanced acc. =  0.7
Dropped  a_rush , balanced acc. =  0.76
Dropped  b_rush , balanced acc. =  0.73
Dropped  a_offense_rush_yards , balanced acc. =  0.74
Dropped  b_offense_rush_yards , balanced acc. =  0.73
Dropped  a_offense_pass_yards , balanced acc. =  0.75
Dropped  b_offense_pass_yards , balanced acc. =  0.75
Dropped  a_pass , balanced acc. =  0.74
Dropped  b_pass , balanced acc. =  0.73
Dropped  a_incomplete_pass , balanced acc. =  0.74
Dropped  b_incomplete_pass , balanced acc. =  0.75
Dropped  a_penalty , balanced acc. =  0.72
Dropped  b_penalty , balanced acc. =  0.72
Dropped  a_penalty_yards , balanced acc. =  0.74
Dropped  b_penalty_yards , balanced acc. =  0.72
Dropped  surface , balanced acc. =  0.75
Dropped  a_home , balanced acc. =  0.75
Dropped  b_home , balanced acc. =  0.75

**Drop Unneeded Features**

In [20]:
Xnew=X.drop({'a_pass','b_pass',
             'a_rush','b_rush',
             'a_penalty','b_penalty',
             'surface',
             'a_home'
            },axis=1).copy()


# Gotta train, test, split using same random seed
# stratify by point spread
stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
X_train, X_test, y_train, y_test = train_test_split(Xnew, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.25)

# ML with logistic Regression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2500,
                                random_state=42)

#result=classifier.fit(X_train_scaled, y_train)
result=classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
logResAcc=balanced_accuracy_score(y_test, y_pred)
print('Old Balanced Accuracy = ',round(noDroplogRegAcc,2))
print('New Balanced Accuracy = ',round(logResAcc,2))

Old Balanced Accuracy =  0.72
New Balanced Accuracy =  0.73

In [21]:
# Create Dataframe with fit coefficients and print to file
coefficients=result.coef_.tolist()[0]
coef_df=pd.DataFrame()
i=0;
for feature in Xnew.columns:
  coef_df[feature]=[coefficients[i]]
  i=i+1
coef_df

,a_points,b_points,a_offense_rush_yards,b_offense_rush_yards,a_offense_pass_yards,b_offense_pass_yards,a_incomplete_pass,b_incomplete_pass,a_penalty_yards,b_penalty_yards,b_home
0,0.156556,-0.165134,0.001543,-0.000384,0.002809,-0.000542,0.032292,-0.000745,-0.007041,0.009689,-0.580587

In [23]:
# Create Dataframe with fit coefficients and print to file
coefficients=result.coef_.tolist()[0]
coef_df=pd.DataFrame()
i=0;
for feature in Xnew.columns:
  coef_df[feature]=[coefficients[i]]
  i=i+1
print(coef_df)

coef_df.to_csv('coefs.csv',index=False)

   a_points  b_points  a_offense_rush_yards  b_offense_rush_yards  \
0  0.156556 -0.165134              0.001543             -0.000384

   a_offense_pass_yards  b_offense_pass_yards  a_incomplete_pass  \
0              0.002809             -0.000542           0.032292

   b_incomplete_pass  a_penalty_yards  b_penalty_yards    b_home
0          -0.000745        -0.007041         0.009689 -0.580587

In [24]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
print(classifier.get_params())
results.head(10)

{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 2500, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': 42, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

   Prediction  Actual
0           1       1
1           1       1
2           1       1
3           0       0
4           0       1
5           0       0
6           1       0
7           0       0
8           0       0
9           0       1

In [25]:
logRegAcc=balanced_accuracy_score(y_test, y_pred)
noDroplogRegAcc=logRegAcc
print('balanced accuracy score = ',logRegAcc)

# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual B", "Actual A"], columns=["Predicted B", "Predicted A"])

print("")
print(cm_df)

# Print the imbalanced classification report
print("")
print(classification_report_imbalanced(y_test, y_pred))

balanced accuracy score =  0.7269702021000888

          Predicted B  Predicted A
Actual B          278          120
Actual A          101          312

                   pre       rec       spe        f1       geo       iba       sup

          0       0.73      0.70      0.76      0.72      0.73      0.52       398
          1       0.72      0.76      0.70      0.74      0.73      0.53       413

avg / total       0.73      0.73      0.73      0.73      0.73      0.53       811

In [26]:
X.mean()

a_points                 12.687847
b_points                 12.836212
a_rush                   17.741518
b_rush                   18.648365
a_offense_rush_yards     71.197101
b_offense_rush_yards     72.465453
a_offense_pass_yards    101.956817
b_offense_pass_yards    115.425355
a_pass                   15.217458
b_pass                   17.085133
a_incomplete_pass         5.741209
b_incomplete_pass         6.449722
a_penalty                 2.316780
b_penalty                 2.307218
a_penalty_yards          17.053054
b_penalty_yards          17.133868
surface                   3.659161
a_home                    0.380629
b_home                    0.426589
dtype: float64

In [28]:
# Flatten data
import pickle

In [30]:
# Saving model to current directory
# Pickle serializes objects so they can be saved to a file, and loaded in a program again later on.
pickle.dump(result, open('model.pkl','wb'))

In [36]:
#Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))

**Load into Flask App**

In [37]:
#import libraries
import numpy as np
from flask import Flask, render_template,request
import pickle#Initialize the flask App
app = Flask(__name__)
model = pickle.load(open('model.pkl', 'rb'))

In [38]:
#default page of our web-app
@app.route('/')
def home():
    return render_template('index.html')

In [39]:
#To use the predict button in our web-app
@app.route('/predict',methods=['POST'])
def predict():
    #For rendering results on HTML GUI
    int_features = [float(x) for x in request.form.values()]
    final_features = [np.array(int_features)]
    prediction = model.predict(final_features)
    output = round(prediction[0], 2) 
    return render_template('index.html', prediction_text='The winner will be :{}'.format(output))