In [1]:
import pandas as pd

In [13]:
team_df=pd.read_csv("/Users/benpeyton/Desktop/vandy_boot_camp/Module_20/Segment-1/Resources/team.csv")
team_df

     Team Code              Name  Conference Code
0            5             Akron              875
1            8           Alabama              911
2            9               UAB            24312
3           28     Arizona State              905
4           29           Arizona              905
..         ...               ...              ...
234        817  Youngstown State              853
235       1068              Elon              912
236       1092      Gardner-Webb              826
237       2678   Ark.-Pine Bluff              916
238       2915           Wofford              912

[239 rows x 3 columns]

In [14]:
conference_df=pd.read_csv("/Users/benpeyton/Desktop/vandy_boot_camp/Module_20/Segment-1/Resources/conference.csv")
conference_df

    Conference Code                         Name Subdivision
0               821    Atlantic Coast Conference         FBS
1             25354            Big 12 Conference         FBS
2               823          Big East Conference         FBS
3               827           Big Ten Conference         FBS
4             24312               Conference USA         FBS
5             99001                  Independent         FBS
6               875      Mid-American Conference         FBS
7              5486     Mountain West Conference         FBS
8               905        Pacific-10 Conference         FBS
9               911      Southeastern Conference         FBS
10              818          Sun Belt Conference         FBS
11              923  Western Athletic Conference         FBS
12              820                  Atlantic 10         FCS
13              825                      Big Sky         FCS
14              826                    Big South         FCS
15              853  Gateway Football Conference         FCS
16            99005                          Ind         FCS
17              865                          Ivy         FCS
18              871               Metro Atlantic         FCS
19              876                  Mid-Eastern         FCS
20              846                    Northeast         FCS
21              902                  Ohio Valley         FCS
22              838                      Patriot         FCS
23            21451      Pioneer Football League         FCS
24              912                     Southern         FCS
25              914                    Southland         FCS
26              916                 Southwestern         FCS

In [23]:
play_df=pd.read_csv("/Users/benpeyton/Desktop/vandy_boot_camp/Module_20/Segment-1/Resources/play.csv")
play_df.head()

,Game Code,Play Number,Period Number,Clock,Offense Team Code,Defense Team Code,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
0,690002820050901,1,1,900.0,690,28,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
1,690002820050901,2,1,NaN,28,690,0,0,1.0,10.0,80,RUSH,1.0,1.0
2,690002820050901,3,1,NaN,28,690,0,0,2.0,8.0,78,PASS,1.0,1.0
3,690002820050901,4,1,NaN,28,690,0,0,3.0,8.0,78,PENALTY,1.0,0.0
4,690002820050901,5,1,NaN,28,690,0,0,3.0,19.0,89,PASS,1.0,1.0

In [29]:
play_df=play_df.rename(columns={"Offense Team Code": "Team Code1", "Defense Team Code": "Team Code2"})
play_df.head()

,Game Code,Play Number,Period Number,Clock,Team Code1,Team Code2,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
0,690002820050901,1,1,900.0,690,28,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
1,690002820050901,2,1,NaN,28,690,0,0,1.0,10.0,80,RUSH,1.0,1.0
2,690002820050901,3,1,NaN,28,690,0,0,2.0,8.0,78,PASS,1.0,1.0
3,690002820050901,4,1,NaN,28,690,0,0,3.0,8.0,78,PENALTY,1.0,0.0
4,690002820050901,5,1,NaN,28,690,0,0,3.0,19.0,89,PASS,1.0,1.0

In [34]:
play_df = play_df.drop(columns=["Team Code2"])
play_df

,Game Code,Play Number,Period Number,Clock,Team Code1,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
0,690002820050901,1,1,900.0,690,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
1,690002820050901,2,1,NaN,28,0,0,1.0,10.0,80,RUSH,1.0,1.0
2,690002820050901,3,1,NaN,28,0,0,2.0,8.0,78,PASS,1.0,1.0
3,690002820050901,4,1,NaN,28,0,0,3.0,8.0,78,PENALTY,1.0,0.0
4,690002820050901,5,1,NaN,28,0,0,3.0,19.0,89,PASS,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135283,703065720060104,198,4,19.0,703,39,38,1.0,3.0,3,TIMEOUT,NaN,NaN
135284,703065720060104,199,4,19.0,703,39,38,NaN,NaN,3,ATTEMPT,NaN,NaN
135285,703065720060104,200,4,19.0,703,41,38,NaN,NaN,65,KICKOFF,NaN,NaN
135286,703065720060104,201,4,19.0,657,38,41,1.0,10.0,69,PASS,25.0,1.0
135287,703065720060104,202,4,NaN,657,38,41,1.0,10.0,42,PASS,25.0,1.0

In [37]:
play_df=play_df.rename(columns={"Team Code1": "Team Code"})
play_df.head()

,Game Code,Play Number,Period Number,Clock,Team Code,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
0,690002820050901,1,1,900.0,690,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
1,690002820050901,2,1,NaN,28,0,0,1.0,10.0,80,RUSH,1.0,1.0
2,690002820050901,3,1,NaN,28,0,0,2.0,8.0,78,PASS,1.0,1.0
3,690002820050901,4,1,NaN,28,0,0,3.0,8.0,78,PENALTY,1.0,0.0
4,690002820050901,5,1,NaN,28,0,0,3.0,19.0,89,PASS,1.0,1.0

In [43]:
# Combine the data into a single dataset.
complete_stats_df = pd.merge(team_df, play_df, on=["Team Code", "Team Code"])
complete_stats_df

,Team Code,Name,Conference Code,Game Code,Play Number,Period Number,Clock,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
0,5,Akron,875,5055920050910,1,1,900.0,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
1,5,Akron,875,5055920050910,20,1,538.0,0,7,1.0,10.0,77,PASS,2.0,1.0
2,5,Akron,875,5055920050910,21,1,NaN,0,7,2.0,2.0,69,RUSH,2.0,1.0
3,5,Akron,875,5055920050910,22,1,NaN,0,7,1.0,10.0,66,PENALTY,2.0,0.0
4,5,Akron,875,5055920050910,23,1,NaN,0,7,1.0,5.0,61,PASS,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135283,2915,Wofford,912,2915076820050910,166,4,232.0,7,35,1.0,10.0,60,PASS,24.0,1.0
135284,2915,Wofford,912,2915076820050910,167,4,NaN,7,35,2.0,10.0,60,PENALTY,24.0,0.0
135285,2915,Wofford,912,2915076820050910,168,4,NaN,7,35,2.0,25.0,75,RUSH,24.0,1.0
135286,2915,Wofford,912,2915076820050910,169,4,NaN,7,35,3.0,25.0,75,PASS,24.0,1.0
135287,2915,Wofford,912,2915076820050910,170,4,NaN,7,35,4.0,25.0,75,PUNT,NaN,NaN

In [50]:
complete_stats_df = complete_stats_df.sort_values(by=['Game Code', 'Play Number'])
complete_stats_df.head(50)

,Team Code,Name,Conference Code,Game Code,Play Number,Period Number,Clock,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play
9544,47,Ball State,875,5004720051105,1,1,900.0,0,0,NaN,NaN,65,KICKOFF,NaN,NaN
773,5,Akron,875,5004720051105,2,1,NaN,0,0,1.0,10.0,85,RUSH,1.0,1.0
774,5,Akron,875,5004720051105,3,1,NaN,0,0,2.0,10.0,85,PASS,1.0,1.0
775,5,Akron,875,5004720051105,4,1,NaN,0,0,3.0,6.0,81,PASS,1.0,1.0
776,5,Akron,875,5004720051105,5,1,NaN,0,0,4.0,6.0,81,PUNT,NaN,NaN
9545,47,Ball State,875,5004720051105,6,1,808.0,0,0,1.0,10.0,31,RUSH,2.0,1.0
9546,47,Ball State,875,5004720051105,7,1,NaN,0,0,1.0,10.0,20,RUSH,2.0,1.0
9547,47,Ball State,875,5004720051105,8,1,NaN,0,0,2.0,7.0,17,PASS,2.0,1.0
9548,47,Ball State,875,5004720051105,9,1,NaN,0,0,3.0,7.0,17,PASS,2.0,1.0
9549,47,Ball State,875,5004720051105,10,1,NaN,0,0,4.0,7.0,17,FIELD_GOAL,2.0,1.0
9550,47,Ball State,875,5004720051105,11,1,747.0,3,0,NaN,NaN,65,KICKOFF,NaN,NaN
777,5,Akron,875,5004720051105,12,1,742.0,0,3,1.0,10.0,84,RUSH,3.0,1.0
778,5,Akron,875,5004720051105,13,1,NaN,0,3,2.0,10.0,84,RUSH,3.0,1.0
779,5,Akron,875,5004720051105,14,1,NaN,0,3,3.0,3.0,77,PENALTY,3.0,1.0
780,5,Akron,875,5004720051105,15,1,NaN,0,3,1.0,10.0,72,PASS,3.0,1.0
781,5,Akron,875,5004720051105,16,1,NaN,0,3,2.0,10.0,72,RUSH,3.0,1.0
782,5,Akron,875,5004720051105,17,1,NaN,0,3,3.0,10.0,72,PASS,3.0,1.0
783,5,Akron,875,5004720051105,18,1,NaN,0,3,4.0,10.0,72,PUNT,NaN,NaN
9551,47,Ball State,875,5004720051105,19,1,597.0,3,0,1.0,10.0,68,RUSH,4.0,1.0
9552,47,Ball State,875,5004720051105,20,1,NaN,3,0,1.0,10.0,54,RUSH,4.0,1.0
9553,47,Ball State,875,5004720051105,21,1,NaN,3,0,2.0,7.0,51,PASS,4.0,1.0
9554,47,Ball State,875,5004720051105,22,1,NaN,3,0,3.0,3.0,47,PASS,4.0,1.0
9555,47,Ball State,875,5004720051105,23,1,NaN,3,0,1.0,10.0,24,RUSH,4.0,1.0
9556,47,Ball State,875,5004720051105,24,1,NaN,3,0,2.0,12.0,26,PASS,4.0,1.0
9557,47,Ball State,875,5004720051105,25,1,NaN,3,0,3.0,1.0,15,RUSH,4.0,1.0
9558,47,Ball State,875,5004720051105,26,1,NaN,3,0,1.0,10.0,11,RUSH,4.0,1.0
9559,47,Ball State,875,5004720051105,27,1,NaN,3,0,2.0,7.0,8,PENALTY,4.0,0.0
9560,47,Ball State,875,5004720051105,28,1,NaN,3,0,2.0,12.0,13,PENALTY,4.0,0.0
9561,47,Ball State,875,5004720051105,29,1,NaN,3,0,2.0,7.0,8,PASS,4.0,1.0
9562,47,Ball State,875,5004720051105,30,1,NaN,3,0,3.0,7.0,8,PASS,4.0,1.0
9563,47,Ball State,875,5004720051105,31,1,NaN,3,0,4.0,7.0,8,FIELD_GOAL,4.0,1.0
9564,47,Ball State,875,5004720051105,32,1,354.0,6,0,NaN,NaN,65,KICKOFF,NaN,NaN
784,5,Akron,875,5004720051105,33,1,350.0,0,6,1.0,10.0,79,RUSH,5.0,1.0
785,5,Akron,875,5004720051105,34,1,NaN,0,6,2.0,16.0,85,RUSH,5.0,1.0
786,5,Akron,875,5004720051105,35,1,NaN,0,6,3.0,2.0,71,RUSH,5.0,1.0
787,5,Akron,875,5004720051105,36,1,NaN,0,6,1.0,10.0,63,PASS,5.0,1.0
788,5,Akron,875,5004720051105,37,1,NaN,0,6,2.0,10.0,63,PASS,5.0,1.0
789,5,Akron,875,5004720051105,38,1,NaN,0,6,3.0,10.0,63,PASS,5.0,1.0
790,5,Akron,875,5004720051105,39,1,NaN,0,6,4.0,10.0,63,PUNT,NaN,NaN
9565,47,Ball State,875,5004720051105,40,1,240.0,6,0,1.0,10.0,60,PASS,6.0,1.0
9566,47,Ball State,875,5004720051105,41,1,NaN,6,0,2.0,20.0,70,PASS,6.0,1.0
9567,47,Ball State,875,5004720051105,42,1,NaN,6,0,3.0,18.0,68,PASS,6.0,1.0
9568,47,Ball State,875,5004720051105,43,1,NaN,6,0,4.0,8.0,58,PUNT,NaN,NaN
791,5,Akron,875,5004720051105,44,1,130.0,0,6,1.0,10.0,94,RUSH,7.0,1.0
792,5,Akron,875,5004720051105,45,1,NaN,0,6,1.0,10.0,84,RUSH,7.0,1.0
793,5,Akron,875,5004720051105,46,1,NaN,0,6,2.0,11.0,85,PASS,7.0,1.0
794,5,Akron,875,5004720051105,47,1,NaN,0,6,3.0,9.0,83,PASS,7.0,1.0
795,5,Akron,875,5004720051105,48,1,NaN,0,6,4.0,9.0,83,PUNT,NaN,NaN
9569,47,Ball State,875,5004720051105,49,1,7.0,12,0,NaN,NaN,3,ATTEMPT,NaN,NaN
9570,47,Ball State,875,5004720051105,50,1,7.0,13,0,NaN,NaN,65,KICKOFF,NaN,NaN

In [55]:
# Combine the data into a single dataset.
complete_stats_df = pd.merge(complete_stats_df, conference_df, on=["Conference Code", "Conference Code"])
complete_stats_df.head(50)

,Team Code,Name_x,Conference Code,Game Code,Play Number,Period Number,Clock,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play,Name_y,Subdivision_x,Name,Subdivision_y
0,47,Ball State,875,5004720051105,1,1,900.0,0,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
1,5,Akron,875,5004720051105,2,1,NaN,0,0,1.0,10.0,85,RUSH,1.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
2,5,Akron,875,5004720051105,3,1,NaN,0,0,2.0,10.0,85,PASS,1.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
3,5,Akron,875,5004720051105,4,1,NaN,0,0,3.0,6.0,81,PASS,1.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
4,5,Akron,875,5004720051105,5,1,NaN,0,0,4.0,6.0,81,PUNT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
5,47,Ball State,875,5004720051105,6,1,808.0,0,0,1.0,10.0,31,RUSH,2.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
6,47,Ball State,875,5004720051105,7,1,NaN,0,0,1.0,10.0,20,RUSH,2.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
7,47,Ball State,875,5004720051105,8,1,NaN,0,0,2.0,7.0,17,PASS,2.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
8,47,Ball State,875,5004720051105,9,1,NaN,0,0,3.0,7.0,17,PASS,2.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
9,47,Ball State,875,5004720051105,10,1,NaN,0,0,4.0,7.0,17,FIELD_GOAL,2.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
10,47,Ball State,875,5004720051105,11,1,747.0,3,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
11,5,Akron,875,5004720051105,12,1,742.0,0,3,1.0,10.0,84,RUSH,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
12,5,Akron,875,5004720051105,13,1,NaN,0,3,2.0,10.0,84,RUSH,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
13,5,Akron,875,5004720051105,14,1,NaN,0,3,3.0,3.0,77,PENALTY,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
14,5,Akron,875,5004720051105,15,1,NaN,0,3,1.0,10.0,72,PASS,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
15,5,Akron,875,5004720051105,16,1,NaN,0,3,2.0,10.0,72,RUSH,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
16,5,Akron,875,5004720051105,17,1,NaN,0,3,3.0,10.0,72,PASS,3.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
17,5,Akron,875,5004720051105,18,1,NaN,0,3,4.0,10.0,72,PUNT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
18,47,Ball State,875,5004720051105,19,1,597.0,3,0,1.0,10.0,68,RUSH,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
19,47,Ball State,875,5004720051105,20,1,NaN,3,0,1.0,10.0,54,RUSH,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
20,47,Ball State,875,5004720051105,21,1,NaN,3,0,2.0,7.0,51,PASS,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
21,47,Ball State,875,5004720051105,22,1,NaN,3,0,3.0,3.0,47,PASS,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
22,47,Ball State,875,5004720051105,23,1,NaN,3,0,1.0,10.0,24,RUSH,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
23,47,Ball State,875,5004720051105,24,1,NaN,3,0,2.0,12.0,26,PASS,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
24,47,Ball State,875,5004720051105,25,1,NaN,3,0,3.0,1.0,15,RUSH,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
25,47,Ball State,875,5004720051105,26,1,NaN,3,0,1.0,10.0,11,RUSH,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
26,47,Ball State,875,5004720051105,27,1,NaN,3,0,2.0,7.0,8,PENALTY,4.0,0.0,Mid-American Conference,FBS,Mid-American Conference,FBS
27,47,Ball State,875,5004720051105,28,1,NaN,3,0,2.0,12.0,13,PENALTY,4.0,0.0,Mid-American Conference,FBS,Mid-American Conference,FBS
28,47,Ball State,875,5004720051105,29,1,NaN,3,0,2.0,7.0,8,PASS,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
29,47,Ball State,875,5004720051105,30,1,NaN,3,0,3.0,7.0,8,PASS,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
30,47,Ball State,875,5004720051105,31,1,NaN,3,0,4.0,7.0,8,FIELD_GOAL,4.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
31,47,Ball State,875,5004720051105,32,1,354.0,6,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
32,5,Akron,875,5004720051105,33,1,350.0,0,6,1.0,10.0,79,RUSH,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
33,5,Akron,875,5004720051105,34,1,NaN,0,6,2.0,16.0,85,RUSH,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
34,5,Akron,875,5004720051105,35,1,NaN,0,6,3.0,2.0,71,RUSH,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
35,5,Akron,875,5004720051105,36,1,NaN,0,6,1.0,10.0,63,PASS,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
36,5,Akron,875,5004720051105,37,1,NaN,0,6,2.0,10.0,63,PASS,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
37,5,Akron,875,5004720051105,38,1,NaN,0,6,3.0,10.0,63,PASS,5.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
38,5,Akron,875,5004720051105,39,1,NaN,0,6,4.0,10.0,63,PUNT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
39,47,Ball State,875,5004720051105,40,1,240.0,6,0,1.0,10.0,60,PASS,6.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
40,47,Ball State,875,5004720051105,41,1,NaN,6,0,2.0,20.0,70,PASS,6.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
41,47,Ball State,875,5004720051105,42,1,NaN,6,0,3.0,18.0,68,PASS,6.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
42,47,Ball State,875,5004720051105,43,1,NaN,6,0,4.0,8.0,58,PUNT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
43,5,Akron,875,5004720051105,44,1,130.0,0,6,1.0,10.0,94,RUSH,7.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
44,5,Akron,875,5004720051105,45,1,NaN,0,6,1.0,10.0,84,RUSH,7.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
45,5,Akron,875,5004720051105,46,1,NaN,0,6,2.0,11.0,85,PASS,7.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
46,5,Akron,875,5004720051105,47,1,NaN,0,6,3.0,9.0,83,PASS,7.0,1.0,Mid-American Conference,FBS,Mid-American Conference,FBS
47,5,Akron,875,5004720051105,48,1,NaN,0,6,4.0,9.0,83,PUNT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
48,47,Ball State,875,5004720051105,49,1,7.0,12,0,NaN,NaN,3,ATTEMPT,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS
49,47,Ball State,875,5004720051105,50,1,7.0,13,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS,Mid-American Conference,FBS

In [59]:
conference_stats_df = complete_stats_df.drop(columns=["Conference Code", "Name_y", "Subdivision_x"])
conference_stats_df

,Team Code,Name_x,Game Code,Play Number,Period Number,Clock,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play,Name,Subdivision_y
0,47,Ball State,5004720051105,1,1,900.0,0,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS
1,5,Akron,5004720051105,2,1,NaN,0,0,1.0,10.0,85,RUSH,1.0,1.0,Mid-American Conference,FBS
2,5,Akron,5004720051105,3,1,NaN,0,0,2.0,10.0,85,PASS,1.0,1.0,Mid-American Conference,FBS
3,5,Akron,5004720051105,4,1,NaN,0,0,3.0,6.0,81,PASS,1.0,1.0,Mid-American Conference,FBS
4,5,Akron,5004720051105,5,1,NaN,0,0,4.0,6.0,81,PUNT,NaN,NaN,Mid-American Conference,FBS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135283,670,Texas State,670069720050922,190,4,96.0,31,44,1.0,10.0,80,RUSH,24.0,1.0,Southland,FCS
135284,670,Texas State,670069720050922,191,4,NaN,31,44,2.0,19.0,89,PASS,24.0,1.0,Southland,FCS
135285,670,Texas State,670069720050922,192,4,NaN,31,44,3.0,19.0,89,RUSH,24.0,1.0,Southland,FCS
135286,670,Texas State,670069720050922,193,4,NaN,31,44,4.0,6.0,76,PENALTY,24.0,0.0,Southland,FCS
135287,670,Texas State,670069720050922,194,4,NaN,31,44,4.0,18.0,88,PUNT,NaN,NaN,Southland,FCS

In [61]:
conference_stats_df=conference_stats_df.rename(columns={"Name_x": "Team Name", "Name": "Conference", "Subdivision_y": "Subdivision"})
conference_stats_df

,Team Code,Team Name,Game Code,Play Number,Period Number,Clock,Offense Points,Defense Points,Down,Distance,Spot,Play Type,Drive Number,Drive Play,Conference,Subdivision
0,47,Ball State,5004720051105,1,1,900.0,0,0,NaN,NaN,65,KICKOFF,NaN,NaN,Mid-American Conference,FBS
1,5,Akron,5004720051105,2,1,NaN,0,0,1.0,10.0,85,RUSH,1.0,1.0,Mid-American Conference,FBS
2,5,Akron,5004720051105,3,1,NaN,0,0,2.0,10.0,85,PASS,1.0,1.0,Mid-American Conference,FBS
3,5,Akron,5004720051105,4,1,NaN,0,0,3.0,6.0,81,PASS,1.0,1.0,Mid-American Conference,FBS
4,5,Akron,5004720051105,5,1,NaN,0,0,4.0,6.0,81,PUNT,NaN,NaN,Mid-American Conference,FBS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135283,670,Texas State,670069720050922,190,4,96.0,31,44,1.0,10.0,80,RUSH,24.0,1.0,Southland,FCS
135284,670,Texas State,670069720050922,191,4,NaN,31,44,2.0,19.0,89,PASS,24.0,1.0,Southland,FCS
135285,670,Texas State,670069720050922,192,4,NaN,31,44,3.0,19.0,89,RUSH,24.0,1.0,Southland,FCS
135286,670,Texas State,670069720050922,193,4,NaN,31,44,4.0,6.0,76,PENALTY,24.0,0.0,Southland,FCS
135287,670,Texas State,670069720050922,194,4,NaN,31,44,4.0,18.0,88,PUNT,NaN,NaN,Southland,FCS