## College Football Machine Learning 2008-2013

In [47]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV

In [48]:
# Load the data
from google.colab import files
uploaded = files.upload()

file_name='goldcopyhalfstats.csv'
#df = pd.read_csv(file_name, skiprows=0)[:-2]
df=pd.read_csv(file_name)

Saving goldcopyhalfstats.csv to goldcopyhalfstats (1).csv

In [49]:
df.head()

   year       game_code  ...                    surface year_opened
0  2008   5068820080906  ...  FieldTurf                        1980
1  2008   8014720080830  ...  FieldTurf                        1992
2  2010   8019320100918  ...  Grass                            1929
3  2011  27074220110903  ...  Grass                            1965
4  2011  37014720110917  ...  Grass                            1942

[5 rows x 42 columns]

# Add Home Team and Perform Basic Data Cleaning

In [50]:
# The game code (usually) has both teams codes in it at the beginning.  The home team is the team whose code is SECOND in the game code
# HOWEVER...every now and then there is a game that is played on a neutral field where one of the teams does not have its code in the game code
# Two examples are at indices 49, 72, and 1952
# We need to account for these instances 

# Create an empty list to hold the home teams
# Since the stats for a team mean "different" if the a Team is at home
# and vice-verse, we need separate columns for each team to designate
# if they are home
# i.e. how would one variable tell you which set of other variables
# it was linked to?
aHome=[]
bHome=[]

# The string comparison is...kinda weird for some reason so I will compare
# strings to a known 'neutral game string'
neutral=str(df.iloc[1]['site'])

for index,row in df.iterrows():
  gameCode=str(row['game_code'])
  aTeam=str(row['a_team_code'])
  bTeam=str(row['b_team_code'])
  site=str(row['site'])

  homeTeam=''
  try:
    i1=gameCode.index(aTeam)
  except ValueError:  # For when a team code isn't in game code
    homeTeam='NOT IN CODE'
  try:
    i2=gameCode.index(bTeam)
  except ValueError:  # For when a team code isn't in game code
    homeTeam='NOT IN CODE'

  if(homeTeam==''):
      if(site==neutral):
        aHome.append(0)  # Neutral Field Game
        bHome.append(0)
      elif (i1>i2):      
        aHome.append(1)  # The aTeam team code was second  
        bHome.append(0)   
      else:
        aHome.append(0)  
        bHome.append(1)  # The aTeam team code was second
  else:
      # One of the teams did not have its team code in the game code
      if(index < 150):
        print(index)
      aHome.append(0)  # Neutral Field Game
      bHome.append(0)

df['a_home']=aHome
df['b_home']=bHome

49
72
75
80
103
105
106
108
117
147
148

In [51]:
df.head()

   year       game_code  ... a_home b_home
0  2008   5068820080906  ...      1      0
1  2008   8014720080830  ...      0      0
2  2010   8019320100918  ...      1      0
3  2011  27074220110903  ...      1      0
4  2011  37014720110917  ...      1      0

[5 rows x 44 columns]

In [52]:
# Drop the null columns where all values are null
df2 = df.dropna(axis='columns', how='all').copy()

# Drop the null rows
df2 = df2.dropna()

df2.reset_index(inplace=True, drop=True)

print(len(df2))
df2.head(10)

4789

   year       game_code  ... a_home b_home
0  2008   5068820080906  ...      1      0
1  2008   8014720080830  ...      0      0
2  2010   8019320100918  ...      1      0
3  2011  27074220110903  ...      1      0
4  2011  37014720110917  ...      1      0
5  2013  37023420140106  ...      0      0
6  2012  43074220120908  ...      1      0
7  2009  51074920090905  ...      1      0
8  2013  61023420130921  ...      1      0
9  2011  61041520111001  ...      1      0

[10 rows x 44 columns]

In [53]:
df3=df2.copy()
df3["result"]=df3['a_result']
df3=df3.drop(['a_result', 'b_result'], axis=1)

df3=df3.drop(['a_defense_rush_yards','b_defense_rush_yards','a_defense_pass_yards','b_defense_pass_yards'],axis=1)

df3.head()

   year       game_code  ... b_home result
0  2008   5068820080906  ...      0      0
1  2008   8014720080830  ...      0      0
2  2010   8019320100918  ...      0      0
3  2011  27074220110903  ...      0      1
4  2011  37014720110917  ...      0      1

[5 rows x 39 columns]

#Filter Data

In [54]:
df_filter=df3.copy()

# Throw out "blowout" games
blowoutThresh=14
df_filter=df_filter[df_filter['half_diff_score_abs'] <= blowoutThresh]

# reset index
df_filter.reset_index(inplace=True, drop=True)

print(len(df_filter))
df_filter.head(5)

3242

   year       game_code  ... b_home result
0  2008   5068820080906  ...      0      0
1  2011  37014720110917  ...      0      1
2  2013  37023420140106  ...      0      1
3  2009  51074920090905  ...      0      0
4  2011  61041520111001  ...      0      1

[5 rows x 39 columns]

In [55]:
df_filter.columns

Index(['year', 'game_code', 'a_team_name', 'a_name_conference', 'a_team_code',
       'a_points', 'b_team_code', 'team_name', 'name_conference', 'b_points',
       'half_leader', 'a_rush', 'b_rush', 'a_offense_rush_yards',
       'b_offense_rush_yards', 'a_offense_pass_yards', 'b_offense_pass_yards',
       'a_pass', 'b_pass', 'a_incomplete_pass', 'b_incomplete_pass',
       'a_penalty', 'b_penalty', 'a_penalty_yards', 'b_penalty_yards',
       'half_diff_score', 'half_diff_score_abs', 'visit_date', 'stadium_code',
       'stadium_name', 'site', 'city', 'state', 'capacity', 'surface',
       'year_opened', 'a_home', 'b_home', 'result'],
      dtype='object')

# Split the Data into Training and Testing and Scale

In [56]:
# Create our features
X = df_filter.copy()
#X=X.drop({'year', 'game_code', 'a_team_name', 'a_name_conference', 'a_team_code',
#          'b_team_code', 'team_name', 'name_conference','half_leader',
#          'half_diff_score', 'half_diff_score_abs', 'visit_date', 'stadium_code',
#          'stadium_name', 'site', 'city', 'state', 'capacity',
#          'year_opened', 'result'},axis=1)

X=X.drop({'year', 'game_code', 'a_team_name', 'a_name_conference', 'a_team_code',
          'b_team_code', 'team_name', 'name_conference','half_leader',
          'half_diff_score', 'half_diff_score_abs', 'visit_date', 'stadium_code',
          'stadium_name', 'site', 'city', 'state', 'capacity',
          'year_opened', 'result'},axis=1)

# Need to convert columns with strings to numeric
# Get column names that are non-numeric
column_names=X.select_dtypes(exclude=[np.number]).columns
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for columnName in column_names:
  X[columnName]=le.fit_transform(X[columnName])

# Create our target
y = df_filter['result'].copy()

X.head()

   a_points  b_points  a_rush  b_rush  ...  b_penalty_yards  surface  a_home  b_home
0        14        28      17      24  ...                0        3       1       0
1        21        21      16      27  ...               20        4       1       0
2        10        21      18      29  ...               15        4       0       0
3         7        10      21      14  ...               10        3       1       0
4        14         7       9      24  ...               40        4       1       0

[5 rows x 19 columns]

In [57]:
# Check the balance of our target values
print(len(X))
abs(X['a_points']-X['b_points']).value_counts()

# We have a lot of games with a 7-point spread at half compared to the others (makes sense)
# May want to look at stratifying?  So that our model predicts well at any spread

3242

7     516
3     397
14    375
10    343
0     330
4     319
11    234
1     145
6     138
13    137
8     106
2      59
9      58
5      52
12     33
dtype: int64

# Sampling Methods and Scale

In [58]:

from sklearn.model_selection import train_test_split

# stratify by point spread
stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.25)

# Scale the Data
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler

#scaler = StandardScaler()
#scaler=MinMaxScaler()
#scaler=StandardScaler()
#X_scaler = scaler.fit(X_train)

#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)
#X_train_scaled = X_train
#X_test_scaled = X_test

# Models

## Import Dependencies

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

## Logistic Regression

In [61]:
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=1500,
                                random_state=42)

#result=classifier.fit(X_train_scaled, y_train)
result=classifier.fit(X_train, y_train)

In [62]:
ml_df=pd.DataFrame(columns=X.columns.tolist())

log_coefs=list(zip(X.columns.tolist(),
                   result.coef_.tolist()[0]))
log_coefs.sort(key = lambda x:abs(x[1]),reverse=True)
print(log_coefs)

[('b_home', -0.3724179771970669), ('b_points', -0.17729225861198078), ('a_home', 0.16120947156093576), ('a_points', 0.16120297604423045), ('b_penalty', -0.08242029685958466), ('a_penalty', 0.06809908622481663), ('b_incomplete_pass', 0.03978881060146108), ('a_rush', -0.033096283355935605), ('a_incomplete_pass', 0.030012811032837178), ('b_pass', -0.02991836471060897), ('surface', -0.015627856887820795), ('b_penalty_yards', 0.015212500564636453), ('a_penalty_yards', -0.013188020036525677), ('a_pass', -0.010826402644741395), ('a_offense_rush_yards', 0.002814778679139424), ('a_offense_pass_yards', 0.00241676748976048), ('b_rush', -0.0021232827816653867), ('b_offense_rush_yards', -0.0008666620876075439), ('b_offense_pass_yards', 0.0003952940296620717)]

In [63]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
print(classifier.get_params())
results.head(10)

{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 1500, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': 42, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

   Prediction  Actual
0           1       1
1           1       1
2           0       1
3           0       0
4           0       0
5           1       0
6           1       1
7           0       0
8           1       0
9           0       0

In [64]:
logRegAcc=balanced_accuracy_score(y_test, y_pred)
noDroplogRegAcc=logRegAcc
print('balanced accuracy score = ',logRegAcc)

# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual B", "Actual A"], columns=["Predicted B", "Predicted A"])

print("")
print(cm_df)

# Print the imbalanced classification report
print("")
print(classification_report_imbalanced(y_test, y_pred))

balanced accuracy score =  0.7248260821891105

          Predicted B  Predicted A
Actual B          280          109
Actual A          114          308

                   pre       rec       spe        f1       geo       iba       sup

          0       0.71      0.72      0.73      0.72      0.72      0.52       389
          1       0.74      0.73      0.72      0.73      0.72      0.53       422

avg / total       0.73      0.73      0.72      0.73      0.72      0.53       811

# Sensitivity Tests

In [65]:
# We will drop each column and see what the balanced score gives us
X.columns
print('No Drop Balanced Accuracy = ',round(noDroplogRegAcc,2))
for column in X.columns:
  #Creata new Dataframe with dropped column
  Xtest=X.drop(column,axis=1).copy()

  # Gotta train, test, split using same random seed
  # stratify by point spread
  stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
  X_train, X_test, y_train, y_test = train_test_split(Xtest, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.3)

  # Scale the Data
  #scaler = StandardScaler()
  #scaler=MinMaxScaler()
  #scaler=StandardScaler()
  #X_scaler = scaler.fit(X_train)

  #X_train_scaled = X_scaler.transform(X_train)
  #X_test_scaled = X_scaler.transform(X_test)

  # ML with logistic Regression
  classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2500,
                                random_state=42)

  #result=classifier.fit(X_train_scaled, y_train)
  result=classifier.fit(X_train, y_train)
  y_pred = classifier.predict(X_test)
  logResAcc=balanced_accuracy_score(y_test, y_pred)

  print('Dropped ',column,', balanced acc. = ',round(logResAcc,2))

No Drop Balanced Accuracy =  0.72
Dropped  a_points , balanced acc. =  0.7
Dropped  b_points , balanced acc. =  0.68
Dropped  a_rush , balanced acc. =  0.75
Dropped  b_rush , balanced acc. =  0.74
Dropped  a_offense_rush_yards , balanced acc. =  0.75
Dropped  b_offense_rush_yards , balanced acc. =  0.71
Dropped  a_offense_pass_yards , balanced acc. =  0.72
Dropped  b_offense_pass_yards , balanced acc. =  0.71
Dropped  a_pass , balanced acc. =  0.74
Dropped  b_pass , balanced acc. =  0.74
Dropped  a_incomplete_pass , balanced acc. =  0.75
Dropped  b_incomplete_pass , balanced acc. =  0.73
Dropped  a_penalty , balanced acc. =  0.75
Dropped  b_penalty , balanced acc. =  0.71
Dropped  a_penalty_yards , balanced acc. =  0.74
Dropped  b_penalty_yards , balanced acc. =  0.72
Dropped  surface , balanced acc. =  0.75
Dropped  a_home , balanced acc. =  0.74
Dropped  b_home , balanced acc. =  0.73

# Drop unneeded features

In [66]:
Xnew=X.drop({'a_pass','b_pass',
             'a_rush','b_rush',
             'a_penalty','b_penalty',
             'surface',
             'a_home'
            },axis=1).copy()


# Gotta train, test, split using same random seed
# stratify by point spread
stratify_values=abs(df_filter['a_points']-df_filter['b_points'])
X_train, X_test, y_train, y_test = train_test_split(Xnew, y,
                                                    stratify=stratify_values, 
                                                    test_size=0.25)

# Scale the Data
#scaler = StandardScaler()
#scaler=MinMaxScaler()
#scaler=StandardScaler()
#X_scaler = scaler.fit(X_train)

#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

# ML with logistic Regression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=2500,
                                random_state=42)

#result=classifier.fit(X_train_scaled, y_train)
result=classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
logResAcc=balanced_accuracy_score(y_test, y_pred)
print('Old Balanced Accuracy = ',round(noDroplogRegAcc,2))
print('New Balanced Accuracy = ',round(logResAcc,2))

Old Balanced Accuracy =  0.72
New Balanced Accuracy =  0.72

In [67]:
# Create Dataframe with fit coefficients and print to file
coefficients=result.coef_.tolist()[0]
coef_df=pd.DataFrame()
i=0;
for feature in Xnew.columns:
  coef_df[feature]=[coefficients[i]]
  i=i+1
coef_df

   a_points  b_points  ...  b_penalty_yards   b_home
0  0.153051  -0.18458  ...         0.006913 -0.39953

[1 rows x 11 columns]

In [68]:
# Create Dataframe with fit coefficients and print to file
coefficients=result.coef_.tolist()[0]
coef_df=pd.DataFrame()
i=0;
for feature in Xnew.columns:
  coef_df[feature]=[coefficients[i]]
  i=i+1
print(coef_df)

coef_df.to_csv('coefs.csv',index=False)
from google.colab import files
files.download("coefs.csv")

   a_points  b_points  ...  b_penalty_yards   b_home
0  0.153051  -0.18458  ...         0.006913 -0.39953

[1 rows x 11 columns]

In [69]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
print(classifier.get_params())
results.head(10)

{'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 2500, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': 42, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

   Prediction  Actual
0           0       0
1           0       0
2           1       0
3           1       1
4           1       0
5           1       0
6           1       1
7           1       1
8           0       0
9           1       1

In [70]:
logRegAcc=balanced_accuracy_score(y_test, y_pred)
noDroplogRegAcc=logRegAcc
print('balanced accuracy score = ',logRegAcc)

# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual B", "Actual A"], columns=["Predicted B", "Predicted A"])

print("")
print(cm_df)

# Print the imbalanced classification report
print("")
print(classification_report_imbalanced(y_test, y_pred))

balanced accuracy score =  0.724502964559212

          Predicted B  Predicted A
Actual B          278          115
Actual A          108          310

                   pre       rec       spe        f1       geo       iba       sup

          0       0.72      0.71      0.74      0.71      0.72      0.52       393
          1       0.73      0.74      0.71      0.74      0.72      0.53       418

avg / total       0.72      0.73      0.72      0.72      0.72      0.52       811

# Average Games (for plotting purposes)

In [71]:
X.mean()

a_points                 12.687847
b_points                 12.836212
a_rush                   17.741518
b_rush                   18.648365
a_offense_rush_yards     71.197101
b_offense_rush_yards     72.465453
a_offense_pass_yards    101.956817
b_offense_pass_yards    115.425355
a_pass                   15.217458
b_pass                   17.085133
a_incomplete_pass         5.741209
b_incomplete_pass         6.449722
a_penalty                 2.316780
b_penalty                 2.307218
a_penalty_yards          17.053054
b_penalty_yards          17.133868
surface                   3.659161
a_home                    0.380629
b_home                    0.426589
dtype: float64